@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-500: var(--error-500);
  --color-error-800: var(--error-800);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-500: var(--success-500);
  --color-success-800: var(--success-800);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-500: var(--warning-500);
  --color-warning-800: var(--warning-800);
  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-500: var(--info-500);
  --color-info-800: var(--info-800);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-50: #e8effc;
  --primary-100: #d1dffa;
  --primary-200: #a3bff5;
  --primary-300: #669aff;
  --primary-400: #3379ff;
  --primary-500: #0057ff;
  --primary-600: #0046cc;
  --primary-700: #003499;
  --primary-800: #052461;
  --primary-900: #031230;
  --neutral-50: #f1f2f3;
  --neutral-100: #dddfe3;
  --neutral-200: #b5bac2;
  --neutral-300: #8b94a4;
  --neutral-400: #656f81;
  --neutral-500: #454c58;
  --neutral-600: #383e48;
  --neutral-700: #2b3037;
  --neutral-800: #1f2226;
  --neutral-900: #121316;
  --error-100: #fbd7d7;
  --error-200: #f7b5b5;
  --error-500: #ff3b3b;
  --error-800: #740606;
  --success-100: #cdf8e5;
  --success-200: #96f0c9;
  --success-500: #06c270;
  --success-800: #064d2e;
  --warning-100: #faf2d1;
  --warning-200: #f5e4a3;
  --warning-500: #ffcc00;
  --warning-800: #614f05;
  --info-100: #e4ffff;
  --info-200: #8bf2f2;
  --info-500: #00aeae;
  --info-800: #044747;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold;
  }
  h4 {
    @apply text-xl lg:text-2xl xl:text-3xl font-semibold;
  }
  h5 {
    @apply text-xl lg:text-2xl font-medium;
  }
  h6 {
    @apply text-xl font-normal lg:font-medium;
  }
  p {
    @apply text-sm md:text-base;
  }
}

@layer components {
  .container-main {
    @apply max-w-7xl mx-auto px-5 mt-8 md:mt-12 lg:mt-15 xl:mt-20;
  }
  .btn-l {
    @apply text-xl lg:text-2xl font-medium;
  }
  .btn-m {
    @apply text-lg lg:text-xl font-medium;
  }
  .btn-s {
    @apply text-base lg:text-lg font-medium;
  }
  .btn-xs {
    @apply text-sm lg:text-base font-medium;
  }
  .body-large {
    @apply text-lg font-normal;
  }
  .body-small {
    @apply text-sm;
  }
}
